<div class="modal-header bg-primary">
        <h4 class="modal-title" id="myModalLabel">Edition d'un frais <span class="pull-right">{{ tache.titre }}</span></h4>
</div>

<form class="form-horizontal" role="form" id="formulaire" action="">

    {{ form.hidden_tag() }}
    <div class="modal-body">
      <div class="form-group">
        {{ form.date.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.date(class_='form-control', id="datepicker") }}
        {% for message in form.date.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
     <div class="form-group">
        {{ form.description.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.description(class_='form-control') }}
        {% for message in form.description.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
     <div class="form-group">
        {{ form.montant.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.montant(class_='form-control', id="amount") }}
        {% for message in form.montant.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
      <div class="form-group">
        {{ form.frais_projet_id.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.frais_projet_id(class_='form-control g-select') }}
        {% for message in form.frais_projet_id.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
      <div class="form-group">
        {{ form.detail_fdt.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.detail_fdt(class_='form-control g-select') }}
        {% for message in form.detail_fdt.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" id="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
<script>
    $('#submit').on('click', function(e){
        e.preventDefault();

        var number = $('#amount').val();
        var number_split = number.split(" ");
        var amount = "";
        for (i = 0; i < number_split.length; i++){
            amount += number_split[i];
        }

        $('#amount').val(parseFloat(amount));

        $.ajax({
                url: "{{ url_for('frais_tache.edit', tache_id=tache_id, detail_fdt_id=detail_fdt_id) }}",
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('.modal-content').html(data);
                }
            });
    });

     $('#datepicker').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 1,
        todayBtn: "linked",
        orientation: "top auto",
        todayHighlight: true
    });

    $("select.g-select").each(function() {
        var e = $(this);
        e.select2()
    });

    $('#amount').autoNumeric("init",{
            aSep: ' ',
            aDec: '.'
    });


    $('#datepicker').inputmask("date", { placeholder:"__/__/____"});

    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('frais_tache.index', tache_id=tache_id) }}").delay();
    {% endif %}
</script>