{% if not printer %}
<div id="load" style="
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.3); display: none;    color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 20;">Chargement</div>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th width="15%">Collaborateur</th>
                    <th width="10%" class="text-center">Heure Dispo</th>
                    <th width="10%" class="text-center">Heure Admin.</th>
                    <th width="10%" class="text-center">Heure Forma.</th>
                    <th width="10%" class="text-center">Heure Devpt</th>
                    <th width="10%" class="text-center">Heure Prod</th>
                </tr>
                </thead>
                <tbody>
                    {% for datas in analyses %}
                        <tr>
                            <td>{{ datas.user.last_name }} {{ datas.user.first_name}}</td>
                            <td class="text-center">{{ datas.budget }} </td>
                            <td class="text-center">{{ datas.adm_time  }} </td>
                            <td class="text-center">{{ datas.form_time  }}</td>
                            <td class="text-center">{{ datas.dev_time  }}</td>
                            <td class="text-center">{{ datas.prod_time }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <h3 class="text-center">Aucune Information</h3>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
                <tfooter>
                    <tr class="active">
                        <td colspan="1" class="text-center"> <strong>Total</strong></td>
                        <td class="text-center">{{ total_budget }}</td>
                        <td class="text-center">{{ total_adm  }}</td>
                        <td class="text-center">{{ total_form  }}</td>
                        <td class="text-center">{{ total_dev  }}</td>
                        <td class="text-center">{{ total_prod  }}</td>
                    </tr>
                </tfooter>
            </table>

{% else %}

<html lang='en'>
 <head>
 	<meta charset='utf-8'>
 	<title>{{ title_page }}</title>

     <script type="text/javascript" src="/static/js/pdfmake.js"></script>
     <script type="text/javascript" src="/static/js/vfs_fonts.js"></script>
     <script>

          var docDefinition = {
              pagesize: 'A4',
              pageOrientation: 'landscape',
              pageMargins:[30,50,30,30],
              header: [
                  {
                      text: 'Accent Com',
                      alignment: 'center',
                      margin:[0, 25, 0, 0]
                  }
              ],
              footer:function(currentPage, pageCount) {
                  return {
                      text: currentPage.toString() + ' sur ' + pageCount,
                      alignment: 'center'
                  }
              },
              content: [
                  {
                      text: '{{ title_page }}',
                      alignment: 'center',
                      fontSize: 20,
                      margin:[0, 20, 0, 20]
                  },
                  {
                      text: 'Periode du {{ date_start|format_date('%d/%m/%Y') }} au {{ date_end|format_date('%d/%m/%Y') }}',
                      alignment: 'center',
                      margin:[0, 10, 0, 10]
                  },
                  {
                      table: {
                            headerRows: 1,
                            widths: ['auto','*','*','*','*','*'],
                            body: [
                                    [{ text: 'Collaborateur', bold: true, alignment:'left' },
                                        { text: 'Heure Dispo',bold: true },
                                        { text: 'Heure Admin.',bold: true },
                                        { text: 'Heure Forma.',bold: true },
                                        { text: 'Heure Devpt', bold: true},
                                        { text: 'Heure Prod',bold: true }
                                    ],
                                    {% for datas in analyses %}
                                       [{text:'{{ datas.user.last_name }} {{ datas.user.first_name}}', alignment:'left'},'{{ datas.budget }} ','{{ datas.adm_time  }} ','{{ datas.form_time  }}','{{ datas.dev_time  }}','{{ datas.prod_time }}'],
                                    {% else %}
                                        ['Collaborateur','0','0','0','0','0'],
                                    {% endfor %}
                                    [{ text: 'Total', bold: true }, '{{ total_budget }}','{{ total_adm  }}','{{ total_form  }}','{{ total_dev  }}','{{ total_prod  }}']

                            ]
                      },
                      layout: {
														hLineWidth: function(i, node) {
																return (i === 0 || i === node.table.body.length) ? 2 : 1;
														},
														vLineWidth: function(i, node) {
																return (i === 0 || i === node.table.widths.length) ? 2 : 1;
														},
														hLineColor: function(i, node) {
																return (i === 0 || i === node.table.body.length) ? 'black' : 'gray';
														},
														vLineColor: function(i, node) {
																return (i === 0 || i === node.table.widths.length) ? 'black' : 'gray';
														}
														// paddingLeft: function(i, node) { return 4; },
														// paddingRight: function(i, node) { return 4; },
														// paddingTop: function(i, node) { return 2; },
														// paddingBottom: function(i, node) { return 2; }
						}
                  }
              ],
              defaultStyle: {
                alignment: 'center'
              }
          };
          pdfMake.createPdf(docDefinition).open();
     </script>
 </head>
 <body>

</body>
</html>


{% endif %}