{% extends 'base.html' %}

{% block title %} Statistique | {{ super() }}  {% endblock %}


{% block layout_content %}

    <div class="col-lg-12">
        <div class="page-header">
          <h1>Heures de developpement chargees </h1>
        </div>
        <nav class="navbar navbar-toolbar" role="navigation">
          <div class="container-fluid">
            <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                  <h2 class="text-center" style="margin-top: 0;">Periode <input type="text" id="datepicker_input" class="date_start custom_input" value="{{ First_day_of_year|get_first_day()|format_date('%d/%m/%Y') }}"/>  au  <input type="text" id="datepicker2_input" class="date_end custom_input" value="{{ current_day|format_date('%d/%m/%Y') }}"/> </h2>
              </div>
              <div class="btn-group pull-right">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Exporter
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('stat.etat_dev_charge_refresh', print='1', date_start=First_day_of_year|get_first_day()|format_date('%d/%m/%Y'), date_end=current_day|format_date('%d/%m/%Y')) }}" target="_blank" id="print_pdf">sous PDF</a></li>
                    <li><a href="{{ url_for('stat.etat_dev_charge_export_excel', date_start=First_day_of_year|get_first_day()|format_date('%d/%m/%Y'), date_end=current_day|format_date('%d/%m/%Y')) }}" target="_blank" id="print_excel">sous Excel</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </nav>
     <div id="table" style="    position: relative; min-height: 400px;">
                <div id="load" style="
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.3); display: none;    color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 20;">Chargement</div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for datas in analyses %}
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ datas.user_id }}" aria-expanded="true" aria-controls="{{ datas.user_id }}">
                            <span class="pull-right"><strong>Total :</strong>  {{ datas.total|round(1, 'floor') }}</span>
                          <strong>Collaborateur :</strong> {{ datas.user.first_name }} {{ datas.user.last_name }}
                        </a>
                      </h4>
                    </div>
                    <div id="{{ datas.user_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Code Client</th>
                                      <th>Nom du Client</th>
                                      <th>Prospect</th>
                                      <th>Heure devlp</th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for client in datas.clients %}
                                  <tr>
                                      <td>{{ client.ref_client }}</td>
                                      <td>{{ client.client }}</td>
                                      <td>
                                          {% if client.prospect %}
                                          {{ client.prospect.get().name }}
                                          {% else %}
                                            -
                                          {% endif %}
                                      </td>
                                      <td>{{ client.time }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
{% block footer_script %}
    <script>
        $('#datepicker_input').datepicker({
            format: "dd/mm/yyyy",
            weekStart: 1,
            todayBtn: "linked",
            autoclose: true,
            orientation: "top auto",
            todayHighlight: true,
            language: "fr"
        }).on('changeDate', function(e) {
            $('#load').show();
                    // Proceed with your code
                    var date_start = $('#datepicker_input').val();
                    var date_end = $('#datepicker2_input').val();

                    var datas = {};

                    var url = '{{ url_for('stat.etat_dev_charge_refresh') }}';
                    var url_excel = '{{ url_for('stat.etat_dev_charge_export_excel') }}';

                    var date_start_js = date_start;
                    date_start_js = date_start_js.split('/');
                    reforme_date = (date_start_js[1]) + '/' + date_start_js[0] + '/' + date_start_js[2];
                    date_start_js = new Date(reforme_date);

                    var date_end_js = date_end;
                    date_end_js = date_end_js.split('/');
                    reforme_date = (date_end_js[1]) + '/' + date_end_js[0] + '/' + date_end_js[2];
                    date_end_js = new Date(reforme_date);


                    if(date_start_js <= date_end_js){
                        datas['date_start'] = date_start;
                        datas['date_end'] = date_end;
                    }else{
                        date_end = date_start;
                        $('#datepicker2_input').val(date_start);
                        datas['date_start'] = date_start;
                        datas['date_end'] = date_end;
                    }

                    $('#print_pdf').attr('href', url+'?print=1&date_start='+datas['date_start']+"&date_end="+datas['date_end']);
                    $('#print_excel').attr('href', url_excel+'?date_start='+datas['date_start']+"&date_end="+datas['date_end']);

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: datas,
                        success: function(data) {
                            $('#table').html(data);
                            $('#load').hide();
                        }
                    });

        }).inputmask("date", { placeholder:"__/__/____"});

        $('#datepicker2_input').datepicker({
            format: "dd/mm/yyyy",
            weekStart: 1,
            todayBtn: "linked",
            autoclose: true,
            orientation: "top auto",
            todayHighlight: true,
            language: "fr"
        }).on('changeDate', function(e) {
                    $('#load').show();
                    // Proceed with your code
                    var date_start = $('#datepicker_input').val();
                    var date_end = $('#datepicker2_input').val();

                    var datas = {};

                    var url = '{{ url_for('stat.etat_dev_charge_refresh') }}';
                    var url_excel = '{{ url_for('stat.etat_dev_charge_export_excel') }}';

                    var date_start_js = date_start;
                    date_start_js = date_start_js.split('/');
                    reforme_date = (date_start_js[1]) + '/' + date_start_js[0] + '/' + date_start_js[2];
                    date_start_js = new Date(reforme_date);

                    var date_end_js = date_end;
                    date_end_js = date_end_js.split('/');
                    reforme_date = (date_end_js[1]) + '/' + date_end_js[0] + '/' + date_end_js[2];
                    date_end_js = new Date(reforme_date);

                    if(date_start_js >= date_end_js){
                        date_start = date_end;
                        $('#datepicker_input').val(date_end);
                        datas['date_start'] = date_start;
                        datas['date_end'] = date_end;
                    }else{
                        datas['date_start'] = date_start;
                        datas['date_end'] = date_end;
                    }
                    $('#print_pdf').attr('href', url+'?print=1&date_start='+datas['date_start']+"&date_end="+datas['date_end']);
                    $('#print_excel').attr('href', url_excel+'?date_start='+datas['date_start']+"&date_end="+datas['date_end']);

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: datas,
                        success: function(data) {
                            $('#table').html(data);
                            $('#load').hide();
                        }
                    });
        }).inputmask("date", { placeholder:"__/__/____"});

    </script>
{% endblock %}

