{% if not printer %}
<div id="load" style="
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.3); display: none;    color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 20;">Chargement</div>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th width="15%">Collaborateur</th>
                        <th width="10%" class="text-center">Prod. Brute</th>
                        <th width="10%" class="text-center">Prod. Brute Facturable</th>
                        <th width="10%" class="text-center">Prod. Brute Facturee</th>
                        <th width="10%" class="text-center">Taux Mali Tech.</th>
                        <th width="10%" class="text-center">Taux Mali Com.</th>
                        <th width="10%" class="text-center">Taux Mali Global</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for datas in analyses %}
                            <tr>
                                <td>{{ datas.user.last_name }} {{ datas.user.first_name}}</td>
                                <td class="text-center">{{ datas.budget|format_price() }} </td>
                                <td class="text-center">{{ datas.HFacturable|format_price() }}</td>
                                <td class="text-center">{{ datas.HFacturee|format_price() }}</td>
                                <td class="text-center">{{ (datas.mali_tech * 100) }}</td>
                                <td class="text-center">{{ (datas.mali_com * 100) }}</td>
                                <td class="text-center">{{ (datas.mali_global * 100) }}</td>
                            </tr>
                        {% else %}

                            <tr>
                                <td colspan="7">
                                    <h3 class="text-center">Aucune Information</h3>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                    <tfooter>
                        <tr class="active">
                            <td colspan="1" class="text-center"> <strong>Total</strong></td>
                            <td class="text-center">{{ total_bud|format_price() }}</td>
                            <td class="text-center">{{ total_facturable|format_price() }}</td>
                            <td class="text-center">{{ total_facturee|format_price() }}</td>
                            <td class="text-center">{{ (total_mali_tech * 100) }}</td>
                            <td class="text-center">{{ (total_mali_com * 100) }}</td>
                            <td class="text-center">{{ (total_global * 100) }}</td>
                        </tr>

                    </tfooter>
                </table>

{% else %}

    <html lang='en'>
 <head>
 	<meta charset='utf-8'>
 	<title>{{ title_page }}</title>

     <script type="text/javascript" src="/static/js/pdfmake.js"></script>
     <script type="text/javascript" src="/static/js/vfs_fonts.js"></script>
     <script>

          var docDefinition = {
              pagesize: 'A4',
              pageOrientation: 'landscape',
              pageMargins:[30,50,30,30],
              header: [
                  {
                      text: 'Accent Com',
                      alignment: 'center',
                      margin:[0, 25, 0, 0]
                  }
              ],
              footer:function(currentPage, pageCount) {
                  return {
                      text: currentPage.toString() + ' sur ' + pageCount,
                      alignment: 'center'
                  }
              },
              content: [
                  {
                      text: '{{ title_page }}',
                      alignment: 'center',
                      fontSize: 20,
                      margin:[0, 20, 0, 20]
                  },
                  {
                      text: 'Periode du {{ date_start|format_date('%d/%m/%Y') }} au {{ date_end|format_date('%d/%m/%Y') }}',
                      alignment: 'center',
                      margin:[0, 10, 0, 10]
                  },
                  {
                      table: {
                            headerRows: 1,
                            widths: ['auto','*','*','*','*','*','*'],
                            body: [
                                    [{ text: 'Collaborateur', bold: true, alignment:'left' },
                                        { text: 'Prod. Brute',bold: true },
                                        { text: 'Prod. Brute Facturable',bold: true },
                                        { text: 'Prod. Brute Facturee',bold: true },
                                        { text: 'Taux Mali Tech.', bold: true},
                                        { text: 'Taux Mali Com.',bold: true },
                                        { text: 'Taux Mali Global',bold: true }
                                    ],
                                    {% for datas in analyses %}
                                       [{text:'{{ datas.user.last_name }} {{ datas.user.first_name}}', alignment:'left'},'{{ datas.budget|format_price() }} ','{{ datas.HFacturable|format_price() }}','{{ datas.HFacturee|format_price() }}','{{ (datas.mali_tech * 100) }}','{{ (datas.mali_com * 100) }}','{{ (datas.mali_global * 100) }}'],
                                    {% else %}
                                        ['Collaborateur','0','0','0','0','0','0'],
                                    {% endfor %}
                                    [{ text: 'Total', bold: true }, '{{ total_bud|format_price() }}','{{ total_facturable|format_price() }}','{{ total_facturee|format_price() }}','{{ (total_mali_tech * 100) }}','{{ (total_mali_com * 100) }}','{{ (total_global * 100) }}']

                            ]
                      },
                      layout: {
														hLineWidth: function(i, node) {
																return (i === 0 || i === node.table.body.length) ? 2 : 1;
														},
														vLineWidth: function(i, node) {
																return (i === 0 || i === node.table.widths.length) ? 2 : 1;
														},
														hLineColor: function(i, node) {
																return (i === 0 || i === node.table.body.length) ? 'black' : 'gray';
														},
														vLineColor: function(i, node) {
																return (i === 0 || i === node.table.widths.length) ? 'black' : 'gray';
														}
														// paddingLeft: function(i, node) { return 4; },
														// paddingRight: function(i, node) { return 4; },
														// paddingTop: function(i, node) { return 2; },
														// paddingBottom: function(i, node) { return 2; }
						}
                  }
              ],
              defaultStyle: {
                alignment: 'center'
              }
          };
          pdfMake.createPdf(docDefinition).open();
     </script>
 </head>
 <body>

</body>
</html>

{% endif %}