{% extends 'base.html' %}

{% block title %}  {% if prospect %} Prospect {% else %} Clients {% endif %} | {{ super() }}  {% endblock %}


{% block layout_content %}


    <div class="col-lg-9">
        <div class="page-header">
          <h1>Contact du  {% if prospect %} prospect {% else %} client {% endif %} : <small>{{ client.name }} </small> </h1>
          {% include 'includes/flash_message.html' %}
        </div>
        <nav class="navbar navbar-toolbar" role="navigation">
          <div class="container-fluid">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group pull-right">
                <a href="{{ url_for('client.contact_edit', client_id=client_id) }}" class="btn btn-primary {% if not current_user.has_roles([('super_admin', 'client_contact')], ['edit']) %} disabled {% endif %}" data-toggle="modal" data-target="#myModal" data-backdrop="static">Creer</a>
              </div>
            </div>
          </div>
        </nav>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th width=35%">Nom</th>
                <th width=30%">Email</th>
                <th width=20%">Tel. Mobile</th>
                <th width="20%">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ data.first_name }} {{ data.last_name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.phone2 }}</td>
                    <td>
                        {% if current_user.has_roles([('super_admin', 'client_contact')], ['edit']) %}
                        <a href="{{ url_for('client.contact_edit', client_id=client_id, contact_id=data.id) }}" class="btn btn-link btn-xs" data-toggle="modal" data-target="#myModal" data-backdrop="static" ><i class="fa fa-pencil-square-o"></i></a>
                        {% endif %}
                        {% if current_user.has_roles([('super_admin', 'client_contact')], ['delete']) %}
                        <a href="{{ url_for('client.contact_delete', client_id=client_id, contact_id=data.id) }}" class="btn btn-link btn-xs" ><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            <h4 class="text-center">Aucune information</h4>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}

    </div>
    <div class="col-lg-3">
        {% include 'includes/nav_client.html' %}
    </div>

{% endblock %}