{% extends 'base.html' %}

{% block title %} Besoin Financier | {{ super() }}  {% endblock %}


{% block layout_content %}


    <div class="col-lg-12">
        <div class="page-header">
          <h1>Liste des besoins financiers {{ small_title }}</h1>
          {% include 'includes/flash_message.html' %}
        </div>
        <nav class="navbar navbar-toolbar" role="navigation">
          <div class="container-fluid">
            <div class="pull-left">
              <ul class="nav nav-pills nav-tabs-google nav-tabs-perso">
                  <li {% if not request.args.get('filtre') %} class="active" {% endif %}><a href="{{ url_for('besoin.index') }}">En cours</a></li>
                  <li {% if request.args.get('filtre') and request.args.get('filtre') == 'rejet' %} class="active" {% endif %}><a href="{{ url_for('besoin.index', filtre='rejet') }}">Rejeté</a></li>
                  <li {% if request.args.get('filtre') and request.args.get('filtre') == 'applique' %} class="active" {% endif %}><a href="{{ url_for('besoin.index', filtre='applique') }}">Validé</a></li>
              </ul>
            </div>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Exporter
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('besoin.printer') }}" target="_blank" id="print_pdf">sous PDF</a></li>

              </ul>
           </div>
          </div>
        </nav>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th width="10%">Echéance</th>
                <th width="17%">Commande</th>
                <th width="10%">Montant</th>
                <th width="10%">Avance</th>
                <th width="10%">Solde</th>
                <th width="17%">Fournisseur</th>
                <th width="17%">Projet</th>
                <th width="6%">Action</th>
            </tr>
            </thead>
            <tbody>

                {% for data in datas %}
                        <tr>
                            <td>{{ data.date_echeance|format_date('%d-%m-%Y') }}</td>
                            <td>{{ data.commande }}</td>
                            <td>{{ data.montant|format_price() }}</td>
                            <td>{{ data.avance|format_price() }}</td>
                            <td>{{ (data.montant - data.paye)|format_price() }}</td>
                            <td>{{ data.fournisseur }}</td>
                            <td>{{ data.projet_id.titre }} <span data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ data.projet_id.responsable_id.email }}" class="popoverData btn btn-link btn-xs"><i class="fa fa-info-circle"></i></span></td>
                            <td>
                                {% if data.attente %}
                                <div class="btn-group btn-group-xs">
                                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right">

                                    <li><a href="{{ url_for('besoin.validation', besoin_id=data.id) }}">Valider</a></li>
                                    <li><a href="{{ url_for('besoin.rejet', besoin_id=data.id) }}">Rejeter</a></li>

                                  </ul>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                {% else %}
                    <tr>
                        <td colspan="8">
                            <h4 class="text-center">Aucune information</h4>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}

    </div>

{% endblock %}