{% extends 'base.html' %}

{% block title %} Projets | {{ super() }}  {% endblock %}


{% block layout_content %}

    <div class="col-lg-9">
    <div class="page-header">
      <h1>
          {% if projet_id %} {{ projet.titre }} {% else %} Nouvelle demande projet {% endif %}</h1>
      {% include 'includes/flash_message.html' %}
    </div>

    <nav class="navbar navbar-toolbar" role="navigation">
      <div class="container-fluid">
        <div class="btn-toolbar" role="toolbar">
          <div class="pull-right">
            {% if not projet_id or projet.rejet %}
                <button type="button" id="submit" class="btn btn-primary ">Enregistrer</button>
            {% endif %}

            {% if projet_id and projet.attente and not projet.rejet and current_user.has_roles([('super_admin', 'projet_demande')], ['edit']) %}
                <a href="{{ url_for('projet.valide_demande', projet_id=projet_id) }}" class="btn btn-danger">Valide la demande</a>
            {% endif %}
            {% if projet_id %}
                {% if projet.responsable_id.id|string == session.get('user_id')|string %}
                    {% if projet.attente %}
                        <a href="" class="btn btn-danger disabled">En attente de validation</a>
                    {% else %}
                        <a href="" class="btn btn-default disabled">Demande rejetée</a>
                    {% endif %}
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'projet_demande')], ['edit']) %}
                    {% if not projet.rejet %}
                        <a href="{{ url_for('projet.rejet_demande', projet_id=projet_id) }}" class="btn btn-warning">Rejeté la demande</a>
                    {% else %}
                        <a href="{{ url_for('projet.rejet_demande', projet_id=projet_id) }}" class="btn btn-danger">Relancé la demande</a>
                    {% endif %}
                {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
    </nav>

    <form role="form" class="form-horizontal" id="formulaire" action="{{ url_for('projet.edit_demande', projet_id=projet_id) }} "method="post" >

            {{ form.hidden_tag() }}
        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Code projet </label>
                    <div class="col-sm-8">
                      <p class="form-control-static">{{ projet.code }}</p>
                    </div>
                </div>
                 <div class="form-group">
                     {{ form.titre.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.titre(class_='form-control') }}
                    {% for message in form.titre.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                 </div>
                <div class="form-group">
                     {{ form.domaine_id.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.domaine_id(class_='form-control g-select', id='domaine') }}
                    {% for message in form.domaine_id.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                 </div>
                <div class="form-group">
                     {{ form.service_id.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                      <select name="service_id" class="form-control g-select" id="service">
                        <option value="">Selection du service</option>
                        {% for service in services %}
                            <option value="{{ service.id }}" {% if form.service_id.data|string == service.id|string %} selected {% endif %}>{{ service.libelle }}</option>
                        {% endfor %}
                      </select>
                    {% for message in form.service_id.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                 </div>
                <div class="form-group">
                     {{ form.client_id.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                         {{ form.client_id(class_='form-control g-select', id="client") }}
                         {% for message in form.client_id.errors %}
                            <div class="alert alert-danger form-validator">{{ message }}</div>
                         {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                     {{ form.prospect_id.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                          <select name="prospect_id" class="form-control g-select" id="prospect">
                            <option value="0">Selection du prospect</option>
                            {% for prospect in prospects %}
                                <option value="{{ prospect.id }}" {% if form.prospect_id.data == prospect.id or form.prospect_id.data == prospect.id %} selected {% endif %}>{{ prospect.name }}</option>
                            {% endfor %}
                          </select>
                        {% for message in form.prospect_id.errors %}
                            <div class="alert alert-danger form-validator">{{ message }}</div>
                        {% endfor %}
                    </div>
                 </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                     {{ form.heure.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.heure(class_='form-control') }}
                    {% for message in form.heure.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                     {{ form.montant.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.montant(class_='form-control', id="amount") }}
                    {% for message in form.montant.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                     {{ form.date_start.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.date_start(class_='form-control', id="datepicker") }}
                    {% for message in form.date_start.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                     {{ form.date_end.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.date_end(class_='form-control', id="datepicker2") }}
                    {% for message in form.date_end.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                     {{ form.responsable_id.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                     {{ form.responsable_id(class_='form-control g-select') }}
                    {% for message in form.responsable_id.errors %}
                        <div class="alert alert-danger form-validator">{{ message }}</div>
                    {% endfor %}
                    </div>
                 </div>
                 <div class="form-group">
                     {{ form.facturable.label(class_='col-sm-4 control-label') }}
                    <div class="col-sm-8">
                        {{ form.facturable(class_='form-control') }}
                        {% for message in form.facturable.errors %}
                            <div class="alert alert-danger form-validator">{{ message }}</div>
                        {% endfor %}
                    </div>
                 </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-6">
                <input type="submit" style="display: none;"/>
            </div>
        </div>


        </form>



    </div>
    <div class="col-lg-3">
        {% include 'includes/nav_projet.html' %}
    </div>
{% endblock %}
{% block footer_script %}
    <script>

        $('#submit').on('click', function(){

            var number = $('#amount').val();
            var number_split = number.split(" ");
            var amount = "";
            for (i = 0; i < number_split.length; i++){
                amount += number_split[i];
            }

            if(amount){
                $('#amount').val(parseFloat(amount));
            }

            $('#formulaire').submit();
        });

        $('#domaine').on('change', function(e){
            e.preventDefault();
            $.ajax({
                url: "{{ url_for('projet.services') }}/"+$(this).val(),
                type: 'GET',
                success: function(data) {

                    var $options = $();
                    $options = $options.add(
                            $('<option>').attr('value', 0).html('Selection du service')
                    );
                    for (var key in data) {
                        $options = $options.add(
                            $('<option>').attr('value', key).html(data[key])
                        );
                    }
                    $('#service').html($options);

                }
            });

        });


        $('#client').on('change', function(e){
            e.preventDefault();
            $.ajax({
                url: "{{ url_for('projet.prospects') }}/"+$(this).val(),
                type: 'GET',
                success: function(data) {

                    var $options = $();
                    $options = $options.add(
                            $('<option>').attr('value', 0).html('Selection du prospect')
                    );
                    for (var key in data) {
                        $options = $options.add(
                            $('<option>').attr('value', key).html(data[key])
                        );
                    }
                    $('#prospect').html($options);

                }
            });

        });
    </script>

{% endblock %}