
<ul class="nav nav-tabs-google nav-stacked myitems" data-spy="affix" data-offset-top="60">
  {% if context == 'formation' %}
      <li>
    <a href="{{ url_for('user_param.formation', user_id=tache.user_id.id) }}"> Retour à la liste</a>
  </li>
   {% else %}
  <li>
    <a href="{% if not user  %} {{ url_for('tache.index') }} {% else %} {{ url_for('tache.me') }} {% endif %}"> Retour à la liste</a>
  </li>
  {% endif %}
  {% if context != 'formation' %}
      <li {% if context == 'information' %} class="active" {% endif %}>
        <a href="{{ url_for('tache.detail', tache_id=tache_id) }}"> Informations</a>
      </li>
      <li {% if context == 'fdt' %} class="active" {% endif %}>
          <a href="{{ url_for('temps_tache.index', tache_id=tache_id) }}">Feuille de temps de la semaine</a>
      </li>
      <li {% if context == 'frais' %} class="active" {% endif %}>
          <a href="{{ url_for('frais_tache.index', tache_id=tache_id) }}">Frais de la semaine</a>
      </li>
      <li {% if context == 'historique' %} class="active" {% endif %}>
          <a href="{{ url_for('temps_tache.historique', tache_id=tache_id) }}">Toutes les feuilles de temps</a>
      </li>
        {% if current_user.has_roles([('super_admin', 'tache_frais')]) %}
          <li>
              <a href="#">Tous les frais</a>
          </li>
        {% endif %}
  {% endif %}
</ul>