          <div class="nav nav-bar">
                <img alt="Brand" src="/static/img/logo_accentCom.png" style="width:100%; height:70px;">
          </div>
          <hr>

          <ul class="list-group nav nav-sidebar scrollable" style="height: 83%; overflow-y: auto; overflow-x: hidden">

            <li class="list-group-item {% if menu == 'tache' %} active  {% endif %}">
               <div class="list-group-item-wrapper">
                    {% if not menu == 'tache' %}
                      <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="{{ url_for('tache.me') }}">Mes t&acirc;ches</a></li>
                            {% if current_user.has_roles([('super_admin', 'tache')]) %}
                          <li><a href="{{ url_for('tache.index') }}">Toutes les t&acirc;ches</a></li>
                            {% endif %}
                        </ul>
                      </div>
                   {% endif %}

                  <a href="{{ url_for('tache.me') }}"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;T&acirc;ches<span class="sr-only"></span></a>
                </div>

             </li>
            {% if menu == 'tache' %}
                {% if submenu == 'tache' %}
                   <li class="list-group-item subitem active"><a href="">Details de la t&acirc;che</a></li>
                {% endif %}
                <li class="list-group-item subitem {% if submenu == 'my' %} active {% endif %}"><a href="{{ url_for('tache.me') }}">Mes t&acirc;ches</a></li>
                {% if current_user.has_roles([('super_admin', 'tache')]) %}
                <li class="list-group-item subitem {% if submenu == 'tous' %} active {% endif %}"><a href="{{ url_for('tache.index') }}">Toutes les t&acirc;ches</a></li>
                {% endif %}
            {% endif %}

            <li class="divider"></li>

            <li class="list-group-item {% if menu == 'projet' %} active  {% endif %}">
               <div class="list-group-item-wrapper">
                   {% if not menu == 'projet' %}
                      <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="{{ url_for('projet.me') }}">Mes projets</a></li>
                            {% if current_user.has_roles([('super_admin', 'projet')]) %}
                          <li><a href="{{ url_for('projet.index') }}">Tous les projets</a></li>
                            {% endif %}
                            {% if current_user.has_roles([('super_admin', 'projet_demande')]) %}
                          <li><a href="{{ url_for('projet.index_demande') }}">Demandes projets</a></li>
                            {% endif %}
                        </ul>
                      </div>
                   {% endif %}

                  <a href="{{ url_for('projet.me') }}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Projets <span class="sr-only"></span></a>
                </div>

             </li>
            {% if menu == 'projet' %}
                {% if submenu == 'projet' %}
                   <li class="list-group-item subitem active"><a href="">Details du projet</a></li>
                {% endif %}
                <li class="list-group-item subitem {% if submenu == 'my' %} active {% endif %}"><a href="{{ url_for('projet.me') }}">Mes projets</a></li>
                {% if current_user.has_roles([('super_admin', 'projet')]) %}
                <li class="list-group-item subitem {% if submenu == 'tous' %} active {% endif %}"><a href="{{ url_for('projet.index') }}">Tous les projets</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'projet_demande')]) %}
                <li class="list-group-item subitem {% if submenu == 'demande' %} active {% endif %}"><a href="{{ url_for('projet.index_demande') }}">Demandes projets</a></li>
                {% endif %}
            {% endif %}

          {% if not current_user.has_roles(['super_admin']) %}
              <li class="divider"></li>

            <li class="list-group-item {% if menu == 'self_finance' %} active  {% endif %}" >
               <div class="list-group-item-wrapper">
                  <a href="{{ url_for('besoin.index_user') }}"><span class="fa fa-money"></span>&nbsp;&nbsp;Mes Besoins Financiers<span class="sr-only"></span></a>
                </div>
            </li>
            <li class="divider"></li>

            <li class="list-group-item {% if menu == 'temps' %} active  {% endif %}" >
               <div class="list-group-item-wrapper">
                  <a href="{{ url_for('temps.index') }}"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Feuilles de Temps<span class="sr-only"></span></a>
                </div>
            </li>
           <li class="divider"></li>

          {% endif %}
          {% if current_user.has_roles([('super_admin', 'projet_finance')]) %}
              <li class="divider"></li>

            <li class="list-group-item {% if menu == 'finance' %} active  {% endif %}" >
               <div class="list-group-item-wrapper">
                  <a href="{{ url_for('besoin.index') }}"><span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;&nbsp;Gestion besoins Financiers<span class="sr-only"></span></a>
                </div>
            </li>
          {% endif %}
          {% if current_user.has_roles([('super_admin', 'client', 'contact')]) %}
             <li class="divider"></li>
             <li class="list-group-item {% if menu == 'client' %} active  {% endif %}">
               <div class="list-group-item-wrapper">
                {% if not menu == 'client' %}
                  <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        {% if current_user.has_roles([('super_admin', 'client')]) %}
                            <li><a href="{{ url_for('client.index') }}">Clients</a></li>
                        {% endif %}
                        {% if current_user.has_roles([('super_admin', 'client')]) %}
                            <li><a href="{{ url_for('client.index', prospect=1) }}">Prospects</a></li>
                        {% endif %}
                        {% if current_user.has_roles([('super_admin', 'contact')]) %}
                            <li><a href="{{ url_for('contact.index') }}">Contacts</a></li>
                        {% endif %}
                    </ul>
                  </div>
                {% endif %}

                    <a href="{{ url_for('client.index') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clients<span class="sr-only"></span></a>
                </div>
             </li>
            {% if menu == 'client' %}
                {% if current_user.has_roles([('super_admin', 'client')]) %}
                <li class="list-group-item subitem {% if submenu == 'client' %} active {% endif %}"><a href="{{ url_for('client.index') }}">Clients</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'client')]) %}
                <li class="list-group-item subitem {% if submenu == 'prospect' %} active {% endif %}"><a href="{{ url_for('client.index', prospect=1) }}">Prospects</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'contact')]) %}
                <li class="list-group-item subitem {% if submenu == 'contact' %} active {% endif %}"><a href="{{ url_for('contact.index') }}">Contacts</a></li>
                {% endif %}
            {% endif %}
          {% endif %}

          {% if current_user.has_roles([('super_admin', 'user', 'user_infos', 'user_permmission', 'user_horaire', 'user_budget' )]) %}

                 <li class="divider"></li>
                 <li class="list-group-item {% if menu == 'user' %} active  {% endif %}">
                   <div class="list-group-item-wrapper">

                   <a href="{{ url_for('user_param.index') }}"><span class="fa fa-users"></span>&nbsp;&nbsp;Employée<span class="sr-only"></span></a>
                   </div>


                </li>

          {% endif %}

            {% if current_user.has_roles([('super_admin', 'site', 'entreprise', 'departement', 'fonction', 'grade', 'frais', 'domaine', 'ligne', 'prestation', 'charge', 'profil', 'budget_userH', 'budget_userV', 'budget_charge', 'budget_client', 'ferier')]) %}
                 <li class="divider"></li>
                 <li class="list-group-item {% if menu == 'societe' %} active  {% endif %}">
                   <div class="list-group-item-wrapper">
                       {% if not menu == 'societe' %}
                          <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                {% if current_user.has_roles([('super_admin', 'site', 'entreprise', 'departement', 'fonction', 'grade', 'frais', 'domaine', 'ligne', 'prestation', 'charge')]) %}
                              <li><a href="{{ url_for('societe.index') }}">Param&egrave;tre entreprise</a></li>
                                {% endif %}
                                {% if current_user.has_roles([('super_admin', 'profil')]) %}
                              <li><a href="{{ url_for('profil.index') }}">Profils/Roles</a></li>
                                {% endif %}

{#                                Gestion des menus lie au budget#}
                                {% if current_user.has_roles([('super_admin', 'budget_userH')]) %}
                                    <li><a href="{{ url_for('budget.index') }}">Budget</a></li>
                                {% endif %}
                                {% if current_user.has_roles([('budget_userV')]) and not current_user.has_roles([('budget_userH')]) %}
                                    <li><a href="{{ url_for('budget.valeur') }}">Budget</a></li>
                                {% endif %}
                                {% if current_user.has_roles([('budget_charge')]) and not current_user.has_roles([('budget_userH', 'budget_userV')]) %}
                                    <li><a href="{{ url_for('budget.charge') }}">Budget</a></li>
                                {% endif %}
                                {% if current_user.has_roles([('budget_client')]) and not current_user.has_roles([('budget_userH', 'budget_userV', 'budget_charge')]) %}
                                    <li><a href="{{ url_for('budget.client') }}">Budget</a></li>
                                {% endif %}

                                {% if current_user.has_roles([('super_admin', 'ferier')]) %}
                                    <li><a href="{{ url_for('ferier.jour_ferier') }}">Jour Ferier</a></li>
                                {% endif %}

                            </ul>
                          </div>
                       {% endif %}
                       <a href="{{ url_for('societe.index') }}"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Param&egrave;tres<span class="sr-only"></span></a>
                    </div>
                 </li>
                 {% if menu == 'societe' %}
                     {% if current_user.has_roles([('super_admin', 'entreprise')]) %}
                    <li class="list-group-item subitem {% if submenu == 'entreprise' %} active {% endif %}"><a href="{{ url_for('societe.index') }}">Param&egrave;tre entreprise</a></li>
                     {% endif %}
                     {% if current_user.has_roles([('super_admin', 'profil')]) %}
                    <li class="list-group-item subitem {% if submenu == 'roles' %} active {% endif %}"><a href="{{ url_for('profil.index') }}">Profils/Roles</a></li>
                     {% endif %}
                     {% if current_user.has_roles([('super_admin', 'budget')]) %}
                    <li class="list-group-item subitem {% if submenu == 'budget' %} active {% endif %}"><a href="{{ url_for('budget.index') }}">Budgets</a></li>
                     {% endif %}
                     {% if current_user.has_roles([('super_admin', 'ferier')]) %}
                        <li class="list-group-item subitem {% if submenu == 'ferier' %} active {% endif %}"><a href="{{ url_for('ferier.jour_ferier') }}">Jour Ferier</a></li>
                     {% endif %}
                 {% endif %}
            {% endif %}
            {% if current_user.has_roles([('super_admin', 'stat')]) %}
             <li class="divider"></li>
             <li class="list-group-item {% if menu == 'stat' %} active  {% endif %}">
               <div class="list-group-item-wrapper">
{#                  <div class="dropdown pull-right">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>#}
{#                    <ul role="menu" class="dropdown-menu">#}
{#                      <li><a href="#">Action</a></li>#}
{#                      <li><a href="#">Another action</a></li>#}
{#                      <li><a href="#">Something else here</a></li>#}
{#                      <li class="divider"></li>#}
{#                      <li><a href="#">Separated link</a></li>#}
{#                    </ul>#}
{#                  </div>#}

               <a href="{{ url_for('stat.index') }}"><span class="glyphicon glyphicon-signal"></span>&nbsp;&nbsp;Statistiques &#124; Rapports<span class="sr-only"></span></a>
                </div>


            </li>
                {% if menu == 'stat' %}
                    <li class="list-group-item subitem {% if submenu == 'collaborateur' %} active {% endif %}"><a href="{{ url_for('stat.collaborateur') }}">Remplissage des FDT/Collab.</a></li>
                    <li class="list-group-item subitem {% if submenu == 'taux_HProd' %} active {% endif %}"><a href="{{ url_for('stat.taux_HProd') }}">Taux de chargeabilite H. Prod </a></li>
                    <li class="list-group-item subitem {% if submenu == 'taux_HDispo' %} active {% endif %}"><a href="{{ url_for('stat.taux_HDispo') }}">Taux de chargeabilite H. Dispo </a></li>
                    <li class="list-group-item subitem {% if submenu == 'etat_conso' %} active {% endif %}"><a href="{{ url_for('stat.etat_conso') }}">Consommation des H. Dispo. </a></li>
                    <li class="list-group-item subitem {% if submenu == 'etat_conso_prod' %} active {% endif %}"><a href="{{ url_for('stat.etat_conso_prod') }}">Solde des Heures Dispo./Collab.</a></li>
                    <li class="list-group-item subitem {% if submenu == 'dev_charge' %} active {% endif %}"><a href="{{ url_for('stat.etat_dev_charge') }}">Heures de devlp chargees </a></li>
                    <li class="list-group-item subitem {% if submenu == 'prod_coll_client' %} active {% endif %}"><a href="{{ url_for('stat.production_par_coll_client') }}">Production collaborateur/client </a></li>
                    <li class="list-group-item subitem {% if submenu == 'taux_mali' %} active {% endif %}"><a href="{{ url_for('stat.taux_mali_global') }}">Taux de mali global  </a></li>


                 {% endif %}
            <li class="divider"></li>
            {% endif %}

          </ul>