<div class="modal-header bg-primary">
        <h4 class="modal-title" id="myModalLabel">Edition du budget de {{ user.first_name }} {{ user.last_name }} pour l'annee {{ current_year }}</h4>
</div>

<form class="form-horizontal" role="form" id="formulaire">

    <div class="modal-body">
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">Temps Disponible :</label>
        <div class="col-sm-8">
        <input type="number" name="disponible" value="{{ disponible }}" class="form-control" min="0"/>
        {% if message %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">Production (en H) :</label>
        <div class="col-sm-8">
         <input type="number" name="production" value="{{ production }}" class="form-control" min="0"/>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">Developpement (en H) :</label>
        <div class="col-sm-8">
         <input type="number" name="developpement" value="{{ developpement }}" class="form-control" min="0"/>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">Formation (en H) :</label>
        <div class="col-sm-8">
         <input type="number" name="formation" value="{{ formation }}" class="form-control" min="0"/>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">Administration (en H) :</label>
        <div class="col-sm-8">
         <input type="number" name="administration" value="{{ administration }}" class="form-control" min="0"/>
        </div>
      </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" id="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
<script>
    $('#submit').on('click', function(e){
        e.preventDefault();
        $.ajax({
                url: "{{ url_for('budget.edit', user_id=user_id, page=page, current_year=current_year, budget_id=budget_id) }}",
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('.modal-content').html(data);
                }
            });
    });

    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('budget.index', page=page, year=current_year) }}").delay();
    {% endif %}
</script>