<div class="modal-header bg-primary">
        <h4 class="modal-title" id="myModalLabel">Roles du module {{ module.titre }}</h4>
</div>

<div class="modal-body scrollable-shadow scrollable" style="height: 400px; overflow-y: auto">
        {% include 'includes/flash_message.html' %}
        <table class="table table-condensed table-hover" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th>#</th>
                <th width="65%">Nom du role</th>
            </tr>
            </thead>
            <tbody>
            {% for data in roles %}
                <tr>
                    <td>{{ loop.index }} </td>
                    <td>{{ data.titre }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                    <h4 class="text-center">Aucune information</h4>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
</div>
 <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
 </div>