{% extends 'base.html' %}

{% block title %} Absence Temps | {{ super() }}  {% endblock %}


{% block layout_content %}


    <div class="col-lg-9">
        <div class="page-header">
          <h1>Utilisateur : <small>{{ user.first_name }} {{ user.last_name }} </small> <i class="fa fa-power-off pull-right {% if user.logged %} text-success {% else %} text-danger {% endif %}" title="{% if user.logged %} connecte {% else %} deconnecte {% endif %}"></i></h1>
          {% include 'includes/flash_message.html' %}
        </div>
        <nav class="navbar navbar-toolbar" role="navigation">
          <div class="container-fluid">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group pull-right">
                <a href="{{ url_for('conge.temps_absence_edit', tache_id=tache.id) }}" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-backdrop="static">Ajouter une absence</a>
              </div>
            </div>
          </div>
        </nav>

        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th width="20%">Date</th>
                <th width="50%">Description</th>
                <th width="15%">Temps</th>
                <th width="15%">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                   <tr>
                    <td>{{ data.date|format_date('%d/%m/%Y') }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.heure|format_date('%H:%M') }}</td>
                    <td>

                    <a href="{{ url_for('conge.temps_absence_edit', tache_id=tache.id, detail_fdt_id=data.id) }}" class="btn btn-link btn-xs btn-xs" data-toggle="modal" data-target="#myModal" data-backdrop="static" ><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ url_for('temps_tache.delete', detail_fdt_id=data.id, conge='1') }}" class="btn btn-link btn-xs btn-xs"><i class="fa fa-trash"></i></a>

                    </td>
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            <h4 class="text-center">Aucune information</h4>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}

    </div>
    <div class="col-lg-3">
        {% include 'includes/nav_user.html' %}
    </div>

{% endblock %}