{% extends 'base.html' %}

{% block title %} Conge Temps | {{ super() }}  {% endblock %}


{% block layout_content %}


    <div class="col-lg-9">
        <div class="page-header">
          <h1>Remplissage des périodes de congé</h1>
          {% include 'includes/flash_message.html' %}
        </div>
        <nav class="navbar navbar-toolbar" role="navigation">
          <div class="container-fluid">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group pull-right">
                <a href="{{ url_for('conge.temps_conge_edit', tache_id=tache.id) }}" class="btn btn-primary {% if not tache.user_id.id|int == session.get('user_id')|int or tache.end or tache.closed %} disabled {% endif %}" data-toggle="modal" data-target="#myModal" data-backdrop="static">Creer</a>
              </div>
            </div>
          </div>
        </nav>

        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th width="20%">Date</th>
                <th width="40%">Description</th>
                <th width="25%">Nombre de jour</th>
                {% if tache.user_id.id|int == session.get('user_id')|int %}
                <th width="15%">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                   <tr>
                    <td>{{ data.date|format_date('%d/%m/%Y') }}</td>
                    <td>{{ data.description }}</td>
                    <td>{{ data.jour }}</td>
                       {% if tache.user_id.id|int == session.get('user_id')|int %}
                    <td>

                    <a href="{{ url_for('conge.temps_conge_edit', tache_id=tache.id, detail_fdt_id=data.id) }}" class="btn btn-link btn-xs btn-xs" data-toggle="modal" data-target="#myModal" data-backdrop="static" ><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{{ url_for('temps_tache.delete', detail_fdt_id=data.id, conge='2') }}" class="btn btn-link btn-xs btn-xs"><i class="fa fa-trash"></i></a>

                    </td>
                        {% endif %}
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            <h4 class="text-center">Aucune information</h4>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}

    </div>
    <div class="col-lg-3">
        {% include 'includes/nav_conge.html' %}
    </div>

{% endblock %}