{% extends 'base.html' %}

{% block title %} Feuille de temps | {{ super() }}  {% endblock %}


{% block layout_content %}


    <div class="col-lg-9">
        <div class="page-header">
          <h1>Listes des feuilles de temps</h1>
          {% include 'includes/flash_message.html' %}
        </div>
        <nav class="navbar navbar-toolbar" role="navigation">
          <div class="">
              <div class="btn-group pull-right">
                <form class="navbar-form navbar-left" role="search" method="get" action="">
                  <div class="form-group">
                      <label for="">Exercice en cours :</label>
                      <select name="year" id="" class="form-control g-select input-lg">
                          <option value="">Annee en cours</option>
                          {% for year in list_year %}
                            <option value="{{ year }}" {% if year == current_year %} selected {% endif %}>{{ year }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <button type="submit" class="btn btn-info">OK</button>
                </form>
              </div>
            </div>
        </nav>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th width="25%">Semaine</th>
                <th width="10%">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                   <tr>
                    <td >{{ data.date_start|format_date('%d-%b-%Y') }} / {{ data.date_end|format_date('%d-%b-%Y') }}</td>
                    <td>
                        <a href="{{ url_for('temps.view', date_start=data.date_start|format_date('%d-%m-%Y'), date_end=data.date_end|format_date('%d-%m-%Y')) }}" class="btn btn-link btn-xs btn-xs" data-toggle="modal" data-target="#myModal" data-backdrop="static"><i class="glyphicon glyphicon-eye-open"></i></a>
                    </td>
                  </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <h4 class="text-center">Aucune information</h4>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination.links }}
    </div>
    <div class="col-lg-3">
        <h2 style="text-decoration: underline;" class="text-center text-capitalize">Instruction</h2>
        <p class="lead">
            <small>Cliquez sur " <i class="glyphicon glyphicon-eye-open"></i> " pour visualiser les details de la semaine</small>
        </p>
    </div>

{% endblock %}