<div class="modal-header bg-primary">
        <h4 class="modal-title" id="myModalLabel">Edition d'une feuille de temps <span class="pull-right">{{ tache.titre }}</span></h4>
</div>

<form class="form-horizontal" role="form" id="formulaire" action="">

    {{ form.hidden_tag() }}
    <div class="modal-body">
      <div class="form-group">
        {{ form.date.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.date(class_='form-control', id="datepicker") }}
        {% for message in form.date.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
     <div class="form-group">
        {{ form.description.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.description(class_='form-control') }}
        {% for message in form.description.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
    {% if not form.derob_day.data %}
      <div class="form-group">
        {{ form.heure.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        <input type="text" name="heure" value="{% if detail_fdt.heure and detail_fdt %} {{ detail_fdt.heure|format_date("%H:%M") }} {% endif %}" class='form-control' id="timepicker"/>
        {% for message in form.heure.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="form-group">
        {{ form.jour.label(class_='col-sm-3 control-label') }}
        <div class="col-sm-9">
        {{ form.jour(class_='form-control') }}
        {% for message in form.jour.errors %}
            <div class="alert alert-danger form-validator">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
    {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" id="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
<script>
    $('#submit').on('click', function(e){
        e.preventDefault();
        var url = '{% if context == 'absence' %}  {{ url_for('conge.temps_absence_edit', tache_id=tache_id, detail_fdt_id=detail_fdt_id) }} {% elif context == 'conge' %} {{ url_for('conge.temps_conge_edit', tache_id=tache_id, detail_fdt_id=detail_fdt_id) }} {% else %} {{ url_for('temps_tache.edit', tache_id=tache_id, detail_fdt_id=detail_fdt_id) }} {% endif %}';
        $.ajax({
                url: url,
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('.modal-content').html(data);
                }
            });
    });

     $('#datepicker').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 1,
        todayBtn: "linked",
        orientation: "top auto",
        todayHighlight: true
    });

    $('#datepicker').inputmask("date", { placeholder:"__/__/____"});
    $('#timepicker').inputmask("h:s", { placeholder:"HH:MM"});

{#    $('#timepicker').datetimepicker({#}
{#                format: "LT",#}
{#                locale: "fr",#}
{#                useCurrent: false#}
{##}
{#            });#}

    {% if success  %}
        {% if context == 'absence' %}
            window.location.replace(window.location.origin+"{{ url_for('conge.temps_absence', user_id=tache.user_id.id) }}").delay();
        {% elif context == 'conge' %}
            window.location.replace(window.location.origin+"{{ url_for('conge.temps_conge', user_id=tache.user_id.id) }}").delay();
        {% else %}
            window.location.replace(window.location.origin+"{{ url_for('temps_tache.index', tache_id=tache_id) }}").delay();
        {% endif %}
    {% endif %}
</script>